.board {
  .title {
    font-size: 3rem;
    padding: 4rem 3rem 2rem;
  }

  .board-container {
    overflow-y: hidden;
    // background-color: aquamarine;
    display: flex;
    padding: 0rem 1.5rem;
    min-height: 80vh;

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.modal {
  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    rgba(74, 98, 110, 0.5) 0.3%,
    rgba(30, 33, 48, 0.5) 90.2%
  );
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-text {
    background-color: white;
    min-width: 50vw;
    max-width: 60vw;
    min-height: 40vh;
    max-height: 50vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      width: 60%;
    }

    * {
      margin: 2rem 0;
    }

    @media (max-width: 600px) {
      min-width: 50vw;
      min-height: 50vh;
    }

    .btn-cancel {
      background-image: linear-gradient(to right, #7f879c 0%, #838eac 100%);
      font-size: inherit;
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 5px;
    }
  }
}
