.board {
  .title {
    font-size: 3rem;
    padding: 4rem 3rem 2rem;
  }

  .board-container {
    overflow-y: hidden;
    // background-color: aquamarine;
    display: flex;
    padding: 0rem 1.5rem;
    min-height: 80vh;

    justify-content: flex-start;
    align-items: flex-start;
  }
}
