.button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: #fff;
  transition: 250ms all ease-in-out;
  border: none;
  outline: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 20%);
  }

  &-secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 8%);
    }
  }
}

.action-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  button {
    min-width: 20rem;
    max-width: 30vw;
    min-height: 5rem;
    margin: 2rem 2rem 0;
  }
}

.btn {
  &-cancel {
    background-image: $btn-nope;
    font-size: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  &-confirm {
    background-image: $btn-yepp;

    font-size: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}

.icon-button {
  background-color: rgba(255, 255, 255, 0.082);
  padding: 0.5rem;
  border-radius: 20rem;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  .icon {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: $shadow-hover;
  }

  &:active {
    transform: translateY(2px);
  }
}

.icon-text-btn {
  border-radius: 50px;
  // padding: 1rem;
  border: none;
  display: flex;
  align-items: center;
  // padding: 1rem 2rem;

  background-size: 300% 100%;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-hover;
    background-position: 100% 0;
    // moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.text-btn {
  border-radius: 50px;
  border: none;

  align-items: center;
  text-align: center;

  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-hover;
    background-position: 100% 0;
    // moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.btn-sm {
}

.btn-md {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.add-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.neutral {
  //the yellow one in case I feel like changing the neutral btn color
  // background-image: linear-gradient(
  //   to right,
  //   #f09619a8 0%,
  //   #edde5d9f 51%,
  //   #f09619bb 100%
  // );
  background-color: #ffffff;
  background-image: linear-gradient(
    to right,
    #757f9a83 0%,
    #d7dde8 51%,
    #757f9a7c 100%
  );
}

.confirm {
  background-image: linear-gradient(
    to right,
    #0ba361b9,
    #3cba92c2,
    #30dd89b4,
    #2bb673b0
  );
}

.cancel {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
