.column {
  height: 80%;
  background-image: linear-gradient(
    to bottom,
    #cfd9df50 30%,
    #cfd9df6c 50%,
    #ffffff 100%
  );
  border-radius: 5px;
  padding: 3rem 0;
  margin: 2rem 1rem;
  max-width: 27rem;
  min-width: 27rem;
}

.column-container {
  min-width: 25rem;

  font-size: inherit;

  button {
    font-size: inherit;
  }
}

.column-header {
  .column-title {
    font-size: 2.5rem;
  }

  .arrow {
    width: 2.5rem;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;

  @media (max-width: 600px) {
    font-size: 40.5%;
  }
}

.column-tickets {
  min-height: 30rem;
  padding: 0.5rem;
}

.card {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 1rem 0.5rem;
  padding: 1rem;
  // transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // &:hover {
  //   box-shadow: $shadow-hover;
  // }
}
