@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  font-size: 1.6rem;
}

.container {
  padding: 25px calc((100vw - 960px) / 2);

  @media (max-width: 980px) {
    padding: 25px 10px;
  }
}
