.navigation {
  background-image: $side-menu-gb;
  padding: 0rem 5rem;

  @media (max-width: 500px) {
    background-image: $side-menu-gb;
  }

  position: relative;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.side-menu {
  background-image: $side-menu-gb;
  position: absolute;
  top: 0;
  right: -30rem;
  width: 30rem;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 25rem;

  ul {
    padding-top: 3rem;
    li {
      .link {
        width: 100%;
        display: block;
        padding: 2rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.473);
        }
      }
      list-style: none;
    }
  }
}
.visible {
  right: 0rem;
}

.menu-icon {
  width: 5rem;
}

.nav-link {
  color: $text-color;
  font-size: 2rem;
  padding: 1rem;
  padding-bottom: 0;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: $shadow-bottom;
  }
  // &:hover {
  //   background-color: rgba(255, 255, 255, 0.473);
  // }

  &:visited {
    color: $text-color;
  }
}

.logo {
  width: 15rem;
}

.nav-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
