.wrapper {
  --duration: 900s;
  --color: #bfe6d2;

  --durationInternal: calc(var(--duration) * 2);
  --delay: calc(var(--duration) / 2);
  position: relative;
  width: 100%;
}

@keyframes rotate {
  25% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-315deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes hide1 {
  25% {
    left: -0.5em;
    opacity: 0;
  }
  50% {
    left: 0;
    opacity: 1;
  }
}

@keyframes hide2 {
  25% {
    right: -0.5em;
    opacity: 0;
  }
  50% {
    right: 0;
    opacity: 1;
  }
}

@keyframes container {
  25% {
    transform: translate3d(0, -50%, 0);
    width: 0.5em;
  }
  50% {
    transform: translate3d(-100%, -50%, 0);
    width: 0.5em;
  }
  75% {
    transform: translate3d(-50%, -50%, 0);
    width: 1em;
  }
}

.countdown-action-btns {
  display: flex;
  justify-content: center;
  z-index: 3;
  min-width: 50%;
  * {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 9rem;

    border-radius: 5px;
    margin-bottom: 0.2rem;
    min-height: 4rem;
    font-size: 1.5rem;
    border: none;
    transition: all 3s;

    &:hover {
      box-shadow: $shadow-bottom;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(3px);
    }
  }
  .btn-start {
    @media (max-width: 630px) {
      margin-left: 0.5rem;
    }
  }
}

.text {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
  left: 100%;
  top: 200%;
  padding: 5rem;
}

.countdown {
  z-index: 0;
  font-size: 40rem;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translate3d(-50%, -50%, 0);
  animation: container var(--durationInternal) steps(1) infinite;
  overflow: hidden;

  &::before,
  &::after {
    display: block;
    content: "";
    box-sizing: border-box;
    border: 0.125em solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1em;
    transform: rotate(45deg);
    animation-timing-function: linear, steps(1);
    animation-duration: var(--durationInternal), var(--durationInternal);
    animation-iteration-count: infinite, infinite;
  }

  &::before {
    border-color: transparent transparent var(--color) var(--color);
    animation-name: rotate, hide1;
    left: 0;
  }

  &::after {
    border-color: var(--color) var(--color) transparent transparent;
    animation-delay: var(--delay), var(--delay);
    animation-name: rotate, hide2;
    right: 0;
  }
}
